// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: '/public/images/';

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

@import 'tables/transactions';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  border-top: 10px solid $govuk-blue;
  margin-top: $gutter;
  padding-top: 5px;

  .heading-medium {
    margin-bottom: 0.5em;
    margin-top: 0.3em;
  }

  li {
    list-style-type: none;
    margin-bottom: 10px;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
