$mobile: 768px;

.responsive-table {
  width: 100%;

  thead {
    border: 0;
    clip: rect(1px 1px 1px 1px); // IE6, IE7
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    @media (min-width: $mobile) {
      clip: auto;
      display: table-header-group;
      height: auto;
      overflow: auto;
      position: relative;
      width: auto;
    }
  }

  tbody {
    @media (min-width: $mobile) {
      display: table-row-group;
    }

    tr, th, td {
      display: block;
    }

    th, td {
      display: flex;
      justify-content: space-between;
      vertical-align: middle;
  
      @media (min-width: $mobile) {
        display: table-cell;
      }
    }


    .table-heading {
      font-weight: 700;
      text-align: left;

      @media (min-width: $mobile) {
        display: none;
      }
    }

    tr {
      margin-bottom: 1em;

      @media (min-width: $mobile) {
        display: table-row;
      }

      th {
        text-align: right;

        @media (min-width: $mobile) {
          text-align: left;
        }

        &[scope='row'] {
          @media (min-width: $mobile) {
            text-align: left;
          }
        }
      }

      td {
        min-width: 1px;
        text-align: right;

        &:last-child {
          padding-right: 1em;

          @media (min-width: $mobile) {
            padding-right: 0;
          }
        }

        @media (min-width: $mobile) {
          text-align: left;

          &.numeric {
            text-align: right;
          }
        }
      }
    }
  }
}
