$mobile: 768px;

.responsive-table {
  width: 100%;

  thead {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    @media (min-width: $mobile) {
      clip: auto;
      display: table-header-group;
      height: auto;
      overflow: auto;
      position: relative;
      width: auto;
    }
  }

  tbody {
    @media (min-width: $mobile) {
      display: table-row-group;
    }

    tr {
      display: block;
    }

    td {
      display: block; // For browsers that don't support flexbox
      display: flex;
      justify-content: space-between;
      vertical-align: middle;

      @media (min-width: $mobile) {
        display: table-cell;
      }

      @media (max-width: $mobile) {
        padding-right: 0;
      }
    }

    .table-heading {
      font-weight: 700;
      text-align: left;
      padding-right: 1em;

      @media (min-width: $mobile) {
        display: none;
      }
    }

    tr {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }

      @media (min-width: $mobile) {
        display: table-row;
      }

      th {
        text-align: right;

        @media (min-width: $mobile) {
          text-align: left;
        }
      }

      td {
        min-width: 1px;

        &.numeric {
          text-align: left;

          @media (min-width: $mobile) {
            text-align: right;
          }
        }
      }
    }

    .total {
      @media (max-width: $mobile) {
        display: block;
      }
    }
  }
}

.table-foot {
  border-bottom: 1px solid #bfc1c3;
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  padding: 1em 0 0.75em;
}
