$mobile: 768px;

.responsive-table {
  width: 100%;

  thead {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    display: none;
    padding: 0;
    border: 0;
    height: 1px; 
    width: 1px; 
    overflow: hidden;
    
    @media (min-width: $mobile) {
      display: table-header-group;
      position: relative;
      clip: auto;
      height: auto;
      width: auto;
      overflow: auto;
    }
  }

  tbody,
  tr,
  th,
  td {
    display: block;
  }
  
  tr {   
    @media (min-width: $mobile) {
      display: table-row; 
    }
  }
  
  th,
  td {
    vertical-align: middle;
    
    @media (min-width: $mobile) {
      display: table-cell;
    }
  }
  
  tfoot {
    font-size: .8em;
    font-style: italic;
  }
  
  tbody {
    @media (min-width: $mobile) { 
      display: table-row-group; 
    }
    
    tr {
      margin-bottom: 1em;
      
      @media (min-width: $mobile) {
        display: table-row;
      }
    }
    
    th[scope="row"] {
      
      @media (min-width: $mobile) {
        text-align: left;
      }
    }
    
    td {
      text-align: right;

      &:last-child {
        padding-right: 1em;
      }
      
      @media (min-width: $mobile) {
        text-align: left; 

        &.numeric {
          text-align: right;
        }
      }
    }
    
    td[data-title]:before {
      content: attr(data-title);
      float: left;
      font-weight: 700;
      
      @media (min-width: $mobile) {
        content: none; 
      }
    } 
  }

  .blankfield {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px; 
    width: 1px; 
    overflow: hidden;
  }
}