$mobile: 768px;

.responsive-table {
  width: 100%;

  thead {
    border: 0;
    clip: rect(1px 1px 1px 1px); // IE6, IE7
    clip: rect(1px, 1px, 1px, 1px);
    display: none;
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    @media (min-width: $mobile) {
      clip: auto;
      display: table-header-group;
      height: auto;
      overflow: auto;
      position: relative;
      width: auto;
    }
  }

  tbody,
  tr,
  th,
  td {
    display: block;
  }

  tr {
    @media (min-width: $mobile) {
      display: table-row;
    }
  }

  th,
  td {
    vertical-align: middle;

    @media (min-width: $mobile) {
      display: table-cell;
    }
  }

  tbody {
    @media (min-width: $mobile) {
      display: table-row-group;
    }

    th {
      text-align: right;

      @media (min-width: $mobile) {
        text-align: left;
      }
    }

    tr {
      margin-bottom: 1em;

      @media (min-width: $mobile) {
        display: table-row;
      }
    }

    th[scope="row"] {

      @media (min-width: $mobile) {
        text-align: left;
      }
    }

    td {
      text-align: right;

      &:last-child {
        padding-right: 1em;

        @media (min-width: $mobile) {
          padding-right: 0;
        }
      }

      @media (min-width: $mobile) {
        text-align: left;

        &.numeric {
          text-align: right;
        }
      }
    }

    th[data-title]::before,
    td[data-title]::before {
      content: attr(data-title);
      float: left;
      font-weight: 700;

      @media (min-width: $mobile) {
        content: none;
      }
    }
  }

  .blankfield {
    border: 0;
    clip: rect(1px 1px 1px 1px); // IE6, IE7
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}
