{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

			<h1 class="heading-xlarge">Transaction table</h1>
			
			<table class="responsive-table" role="table">
        <caption class="heading-medium">Your transactions</caption>
        <thead>
          <tr role="row">
            <th role="columheader" scope="col">Date</th>
            <th role="columheader" scope="col">Method of payment</th>
            <th role="columheader" class="numeric" scope="col">Amount of payment</th>
            <th role="columheader" class="numeric" scope="col">Left to pay</th>
          </tr>
        </thead>
        <tbody>
          <tr role="row">
            <td role="cell"><span class="table-heading" aria-hidden="true">Date</span>1 January 2017</td>
            <td role="cell"><span class="table-heading" aria-hidden="true">Method of payment</span>Paid by credit card</td>
            <td role="cell" class="numeric"><span class="table-heading" aria-hidden="true">Amount of payment</span>£1053.37</td>
            <td role="cell" class="numeric"><span class="table-heading" aria-hidden="true">Left to pay</span>£803.37</td>
          </tr>
          <tr role="row">
            <td role="cell"><span class="table-heading" aria-hidden="true">Date</span>2 February 2017</td>
            <td role="cell"><span class="table-heading" aria-hidden="true">Method of payment</span>Paid by cheque</td>
            <td role="cell" class="numeric"><span class="table-heading" aria-hidden="true">Amount of payment</span>£100.00</td>
            <td role="cell" class="numeric"><span class="table-heading" aria-hidden="true">Left to pay</span>£703.38</td>
          </tr>
          <tr role="row">
            <td role="cell"><span class="table-heading" aria-hidden="true">Date</span>3 March 2017</td>
            <td role="cell"><span class="table-heading" aria-hidden="true">Method of payment</span>Paid by debit card</td>
            <td role="cell" class="numeric"><span class="table-heading" aria-hidden="true">Amount of payment</span>£100.00</td>
            <td role="cell" class="numeric"><span class="table-heading" aria-hidden="true">Left to pay</span>£603.38</td>
          </tr>
          <tr role="row">
            <td role="cell"><span class="table-heading" aria-hidden="true">Date</span>4 April 2017</td>
            <td role="cell"><span class="table-heading" aria-hidden="true">Method of payment</span>Paid by credit card</td>
            <td role="cell" class="numeric"><span class="table-heading" aria-hidden="true">Amount of payment</span>£500.00</td>
            <td role="cell" class="numeric"><span class="table-heading" aria-hidden="true">Left to pay</span>£103.38</td>
          </tr>
          <tr role="row">
            <td role="cell"><span class="table-heading" aria-hidden="true">Date</span>5 May 2017</td>
            <td role="cell"><span class="table-heading" aria-hidden="true">Method of payment</span>Paid by credit card</td>
            <td role="cell" class="numeric"><span class="table-heading" aria-hidden="true">Amount of payment</span>£103.38</td>
            <td role="cell" class="numeric"><span class="table-heading" aria-hidden="true">Left to pay</span>£0</td>
          </tr>
        </tbody>
      </table>
      <div class="table-foot">
        <span class="table-total">Total</span>
        <span class="total-value">£1,000</span>
      </div>
    </div>
  </div>
</main>

{% endblock %}


