{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

			<h1 class="heading-xlarge">Transaction table</h1>
			
			<table class="responsive-table" role="grid">
        <caption class="heading-medium">Your transactions</caption>
        <thead>
          <tr role="row">
            <th scope="col">Date</th>
            <th scope="col">Method of payment</th>
            <th class="numeric" scope="col">Amount of payment</th>
            <th class="numeric" scope="col">Left to pay</th>
          </tr>
        </thead>
        <tbody>
          <tr role="row">
            <td role="gridcell" data-title="Date">1 January 2017</td>
            <td role="gridcell" data-title="Method of payment">Paid by credit card</td>
            <td role="gridcell" data-title="Amount of payment" class="numeric">£1053.37</td>
            <td role="gridcell" data-title="Left to pay" class="numeric">£803.37</td>
          </tr>
          <tr role="row">
            <td role="gridcell" data-title="Date">2 February 2017</td>
            <td role="gridcell" data-title="Method of payment">Paid by cheque</td>
            <td role="gridcell" data-title="Amount of payment" class="numeric">£100.00</td>
            <td role="gridcell" data-title="Left to pay" class="numeric">£703.38</td>
          </tr>
          <tr role="row">
            <td role="gridcell" data-title="Date">3 March 2017</td>
            <td role="gridcell" data-title="Method of payment">Paid by debit card</td>
            <td role="gridcell" data-title="Amount of payment" class="numeric">£100.00</td>
            <td role="gridcell" data-title="Left to pay" class="numeric">£603.38</td>
          </tr>
          <tr role="row">
            <td role="gridcell" data-title="Date">4 April 2017</td>
            <td role="gridcell" data-title="Method of payment">Paid by credit card</td>
            <td role="gridcell" data-title="Amount of payment" class="numeric">£500.00</td>
            <td role="gridcell" data-title="Left to pay" class="numeric">£103.38</td>
          </tr>
          <tr role="row">
            <td role="gridcell" data-title="Date">5 May 2017</td>
            <td role="gridcell" data-title="Method of payment">Paid by credit card</td>
            <td role="gridcell" data-title="Amount of payment" class="numeric">£103.38</td>
            <td role="gridcell" data-title="Left to pay" class="numeric">£0</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</main>

{% endblock %}


